testcode/Debug/vc100.idb
testcode/Debug/testcode_manifest.rc
testcode/Debug/testcode.write.1.tlog
testcode/Debug/testcode.lastbuildstate
testcode/Debug/testcode.exe.intermediate.manifest
testcode/Debug/testcode.exe.embed.manifest.res
testcode/Debug/testcode.exe.embed.manifest
testcode/Debug/rc.write.1.tlog
testcode/Debug/rc.read.1.tlog
testcode/Debug/rc.command.1.tlog
testcode/Debug/mt.write.1.tlog
testcode/Debug/mt.read.1.tlog
testcode/Debug/mt.dep
testcode/Debug/mt.command.1.tlog
testcode/Debug/link.write.1.tlog
testcode/Debug/link.read.1.tlog
testcode/Debug/link.command.1.tlog
testcode/Debug/link.7676.write.1.tlog
testcode/Debug/link.7676.read.1.tlog
testcode/Debug/link.7676-cvtres.write.1.tlog
testcode/Debug/link.7676-cvtres.read.1.tlog
testcode/Debug/link-cvtres.write.1.tlog
testcode/Debug/link-cvtres.read.1.tlog
testcode/Debug/cl.command.1.tlog
testcode/Debug/CL.write.1.tlog
testcode/Debug/CL.read.1.tlog
testcode/Debug/BuildLog.htm
Debug/AgentWizard.unsuccessfulbuild
Debug/AgentWizard.lastbuildstate
Debug/AgentWizard.bsc
Debug/AgentSvc.tlog/link.write.1.tlog
Debug/AgentSvc.tlog/link.read.1.tlog
Debug/AgentSvc.tlog/link.command.1.tlog
Debug/AgentSvc.tlog/bscmake.write.1.tlog
Debug/AgentSvc.tlog/bscmake.read.1.tlog
Debug/AgentSvc.tlog/bscmake.command.1.tlog
Debug/AgentSvc.tlog/CL.write.1.tlog
Debug/AgentSvc.tlog/CL.read.1.tlog
Debug/AgentSvc.tlog/CL.command.1.tlog
Debug/AgentSvc.tlog/AgentSvc.lastbuildstate
Debug/vc141.idb
Debug/mt.dep
Debug/agent.zip
Debug/BuildLog.htm
AgentWizard.sdf
.vs/AgentSvc/v15/ipch/27f7a6bc917441f9.ipch
.vs/AgentSvc/v15/Solution.VC.db-wal
.vs/AgentSvc/v15/Solution.VC.db-shm
.vs/AgentSvc/v15/Solution.VC.db
.vs/AgentSvc/v15/Server/sqlite3/storage.ide-wal
.vs/AgentSvc/v15/Server/sqlite3/storage.ide-shm
.vs/AgentSvc/v15/Server/sqlite3/storage.ide
.vs/AgentSvc/v15/Server/sqlite3/db.lock
.vs/AgentSvc/v15/Browse.VC.db
AgentSvc.sdf
ipch/atmscomm-512caa8a/atmscomm-643e5dad.ipch
ipch/agentwizard-c241e5f7/debug/agentwizard-3270fc09.ipch
ipch/agentwizard-9beea49a/debug/agentwizard-3270fc09.ipch
ipch/agentwizard-921179ac/debug/agentwizard-3270fc09.ipch
ipch/agentwizard-10183a9d/debug/agentwizard-3270fc09.ipch
ipch/simulatoratm-c49e5dac/simulatoratm-4277f72e.ipch
.vs/AgentSvc/DesignTimeBuild/.dtbcache
